%li.well.blur{style: "background-image: url(#{design.photo_url})"}
  %h2
    = link_to design.name, design
    %small
      published in
      = design.published_at.strftime('%B of %Y')
  %p= raw truncate(strip_tags(design.content), length: 500, separator: ' ')
  %p.bottom
    - if !design.categories.blank?
      Categories:
      = design.categories.map{ |c| c.name }.to_sentence