- provide(:title, @design.name)
.row
  .col-md-9
    %h1= @design.name
  .col-md-3
    .pull-right.social
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'facebook', title: 'Facebook'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'twitter', title: 'Twitter'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'reddit', title: 'Reddit'
%p
  %small
    published in
    = @design.published_at.strftime('%B of %Y')
.row
  .col-xs-6.col-md-8.well.bigger
    = raw @design.content
  .col-xs-6.col-md-4
    %h2{style: "margin-top:0px;"}= parse_links(@design.url)
    %h3{style: "margin-top:0px;"} Categories
    %ul.categories= render @categories
%hr
.row
  .col-md-8.col-md-offset-2.well
    %h3{style: "margin-top:0px;"} Related Designs
    %ul.categories
      = render partial: 'categories/related', collection: @related

:javascript
  $('li.designs').addClass('active');