- provide(:title, @design.name)
.row
  .col-md-9.col-sm-12.col-xs-12
    %h1= @design.name
    %p
      %small
        published in
        = @design.published_at.strftime('%B of %Y')
  .col-md-3.col-sm-12.col-xs-12
    .social
      = link_to image_tag('hold.gif'), "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape(design_url(@design))}", target: '_blank', id: 'facebook', title: 'Facebook'
      = link_to image_tag('hold.gif'), "https://twitter.com/intent/tweet?via=mallanaga&amp;url=#{CGI.escape(design_url(@design))}&amp;text=#{CGI.escape(@design.name)}", target: '_blank', id: 'twitter', title: 'Twitter'
      = link_to image_tag('hold.gif'), "http://www.reddit.com/submit?url=#{designs_url(@design)}&amp;title=#{@design.name}", target: '_blank', id: 'reddit', title: 'Reddit'
.row
  .col-lg-9.col-md-8.col-sm-12.col-xs-12.well.bigger
    = raw @design.content
  .col-lg-3.col-md-4.col-sm-12.col-xs-12
    %h2{style: "margin-top:0px;"}= parse_links(@design.url)
    %h3{style: "margin-top:0px;"} Categories
    %ul.categories= render @categories
%hr
.row
  .col-md-8.col-md-offset-2.well
    %h3{style: "margin-top:0px;"} Related Designs
    %ul.categories
      = render partial: 'categories/related', collection: @related

:javascript
  $('li.designs').addClass('active');