- provide(:title, @design.name)
.row
  .col-xs-12.col-md-9
    %h1= @design.name
  .col-xs-4.col-md-3
    .pull-right
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'facebook', title: 'Facebook'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'twitter', title: 'Twitter'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'reddit', title: 'Reddit'
%p
  %small
    published in
    = @design.published_at.strftime('%B of %Y')
.row
  .col-xs-12.col-md-10
    .well
      = raw @design.description
  .col-xs-6.col-md-2
    %h4 Categories
    %ul.categories= render @categories
    %h4 Related designs
    %ul.categories
      = render partial: 'designs/related', collection: @related

:javascript
  $('li.designs').addClass('active');