- provide(:title, @design.name)
.row
  .col-xs-12.col-md-9
    %h1= @design.name
  .col-xs-4.col-md-3
    .pull-right
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'facebook', title: 'Facebook'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'twitter', title: 'Twitter'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'reddit', title: 'Reddit'
%p
  %small
    - if @design.updated_at > @design.created_at
      updated
      = time_ago_in_words(@design.updated_at)
      ago
    - else
      posted
      = time_ago_in_words(@design.created_at)
      ago
.row
  .col-xs-12.col-md-10= raw @design.description
  .col-xs-6.col-md-2
    %ul= render @categories

:javascript
  $('li.designs').addClass('active');