= render 'layouts/error_messages', object: f.object

.form-group
  = f.label :name, class: 'control-label'
  = f.text_field :name, class: 'form-control'
.form-group
  = f.label :summary, 'Summary (if blank, Content will just be summarized)'
  = f.text_field :summary, class: 'form-control'
.form-group
  = f.label :content, class: 'control-label'
  = f.cktext_area :content, ckeditor: {}, class: 'form-control'
.form-group
  = f.label :category_tokens, 'Tags'
  = f.text_field :category_tokens, data: {load: @entry.categories}, class: 'form-control'