- provide(:title, @title)

.row
  .col-xs-12.col-md-9
    %h1 Ideas, as simple as ABC
  .col-xs-4.col-md-3
    .pull-right
      = link_to image_tag('hold.gif'), feed_url, target: '_blank', id: 'rss', title: 'Atom/RSS feed'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'facebook', title: 'Facebook'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'twitter', title: 'Twitter'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'reddit', title: 'Reddit'
.row
  .col-xs-12.col-md-12
    = render @entries

= paginate @entries

:javascript
  $('li.blog').addClass('active');