- provide(:title, @entry.name)
.row
  .col-md-9
    %h1= @entry.name
  .col-md-3
    .pull-right
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'facebook', title: 'Facebook'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'twitter', title: 'Twitter'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'reddit', title: 'Reddit'
%p
  %small
    posted on
    = @entry.created_at.to_date.to_formatted_s :long_ordinal
    around
    = @entry.created_at.strftime('%I%P')
    - if @entry.updated_at > @entry.created_at
      %br
      %b
        (updated
        = time_ago_in_words(@entry.updated_at)
        ago) 
.row
  .col-xs-6.col-md-8.well
    = raw @entry.content
  .col-xs-6.col-md-4
    %h3{style: "margin-top:0px;"} Categories
    %ul.categories= render @categories
%hr
.row
  .col-md-8.col-md-offset-2.well
    %h3{style: "margin-top:0px;"} Related Blog entries
    %ul.categories
      = render partial: 'categories/related', collection: @related

:javascript
  $('li.blog').addClass('active');