- provide(:title, @entry.title)
.row
  .col-xs-12.col-md-9
    %h1 %h1= @entry.title
  .col-xs-4.col-md-3
    .pull-right
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'facebook', title: 'Facebook'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'twitter', title: 'Twitter'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'reddit', title: 'Reddit'
%p
  %small
    - if @entry.updated_at > @entry.created_at
      updated
      = time_ago_in_words(@entry.updated_at)
      ago
    - else
      posted
      = time_ago_in_words(@entry.created_at)
      ago
.row
  .col-xs-12.col-md-10= raw @entry.content
  .col-xs-6.col-md-2
    %ul= render @categories

:javascript
  $('li.blog').addClass('active');