- provide(:title, @entry.title)
.row
  .col-xs-12.col-md-9
    %h1= @entry.title
  .col-xs-4.col-md-3
    .pull-right
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'facebook', title: 'Facebook'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'twitter', title: 'Twitter'
      = link_to image_tag('hold.gif'), '#', target: '_blank', id: 'reddit', title: 'Reddit'
%p
  %small
    posted on
    = @entry.created_at.to_date.to_formatted_s :long_ordinal
    around
    = @entry.created_at.strftime('%I%P')
    - if @entry.updated_at > @entry.created_at
      %br
      %b
        (updated
        = time_ago_in_words(@entry.updated_at)
        ago) 
.row
  .col-xs-12.col-md-10
    .well
      = raw @entry.content
  .col-xs-6.col-md-2
    %h4 Categories
    %ul.categories= render @categories
    %h4 Related entries
    %ul.categories
      = render partial: 'entries/related', collection: @related

:javascript
  $('li.blog').addClass('active');