.row
  .col-md-8.col-md-offset-2
    %h1.center Ideas, as simple as ABC all the way to XYZ
    %p.bigger
      Welcome!  This is my playground.  A place to truly call my own on this world wide web.  My name is Brett Christopher Dudo, and as you can see, my initials are BCD.  They're in alphabetical order... I design things...
      %b
        Boom!
      Alphabetic Design was born!
.row
  .col-md-12
    = link_to image_tag('ruby400.png', alt: 'Ruby', class: 'img-responsive ror'), 'https://www.ruby-lang.org/', target: '_blank', class: 'pull-left', title: 'Ruby'
    = link_to image_tag('rails400.png', alt: 'Rails', class: 'img-responsive ror'), 'http://rubyonrails.org/', target: '_blank', class: 'pull-right', title: 'Rails'
  %p.bigger
    Ruby on Rails is my choice for web development.  I started off with raw HTML and a bit of PHP crammed into it.  Have you ever tried creating a partial with a bunch of echoes?  I didn't have the slightest clue what a framework was, let alone how to implement one.  So, I struggled.  I read some books on HTML, and CSS ( shout out to
    = link_to 'Scott Heist!', 'http://www.linkedin.com/profile/view?id=65814518', target: '_blank'
    ).  I managed to create a website!  It's not up at the moment, but it was glorious... if only you could see the wonders of my first attempts at creating something on a canvas I'd never known until recently... ha.
  %p.bigger
    After tweaking and tinkering ( I very well might be a professional tinkerer.  I made that Ruby logo, btw... nice and flat.  You're welcome ) on my new site, I eventually came to the conclusion that people should be able to log into the site, and manage some things.  Now what?  How the hell are you supposed to... Databases?  Persistence?  Codeignitor??
    %em
      Fuck.
    There usually comes a point while wading in the waters of knowledge, that you start bouncing around on your tippy toes to keep your head above the waves.  As with anything, there is an ocean of knowledge when it comes to web design, development, and programming.  There are flotation devices available that allow us (yes, 
    %em
      us...
    as they're available to you too) to remain afloat and accomplish some tasks, though.  In my case, I stumbled across Ruby, and Rails ( big ups to my man,
    = link_to 'Tommy Dang!', 'http://www.linkedin.com/profile/view?id=182483014', target: '_blank'
    ).
  %p.bigger
    So, if you don't know, and you somehow came across this site on your thirst for ocean water, Ruby is a programming language.  Language.  Complete with nouns, verbs, adjectives... Rails is a framework.  Let's compare Ruby to a dog.  Dogs can learn tricks, or actions, right?  Rails (or other frameworks like codeignitor or django) is like a bag of tricks for Ruby.  Specifically a bag of tricks for web development.  I digress.  This is about Alphabetic Design, not RoR!  Although it is what allows me to do the things I do...
  %p.bigger
    So, I dove into the ocean.  I went through 
    = link_to "Michael Hartl's Tutorial", 'http://ruby.railstutorial.org/chapters/beginning', target: '_blank'
    on the topic, and started swimming.  Well, doggy paddling, at best.  Dory, from Pixar's Finding Nemo, said it best.  "Just keep swimming.  Just keep swimming, swimming..."  Sound advice for everything you do.  Thanks, Dory!
  %p.bigger
    A few years later, and I have a handful of websites under my belt, but I just want to do more and more.  I've picked up a few other floaty toys along the way, too!  jQuery was a must.  It makes selecting DOM elements so much easier than pure javascript, and it has all kinds of cool tricks (as it's a framework for .js, after all).  HAML and SASS came pretty naturally, as they're kind of written for Rails.  CoffeeScript was soon to follow, but I don't use it as consistantly as I could.  Backwards compatibility is something I check for occasionally, but I try to stick with HTML5 and CSS3.
  %p.bigger
    Be sure to check out some
    = link_to 'Designs', designs_path
    while you're here.  You might find some
    = link_to 'Blog', entries_path
    posts interesting too.  If you'd like some work done,
    = link_to 'Contact us!', contact_path
.row
  .col-md-4.col-md-offset-4
    %h1.center The Team
    %p
      = link_to image_tag('bcd.jpg', alt: 'BCD profile pic', class: 'img-responsive img-thumbnail ror'), 'http://www.linkedin.com/profile/view?id=287312275', target: '_blank', class: 'pull-left', title: 'BCD'
      %h2 Brett Dudo
      It's just me for now, treading water.  I had this picture taken back when I was on the Geek Squad.  Still rockin' the beard.