%footer.container
  %nav.navbar.navbar-default{role: 'navigation'}
    // Brand and toggle get grouped for better mobile display
    %div.navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "ABC D &copy; #{Date.today.strftime('%Y')}".html_safe, root_url, class: 'navbar-brand impact'

    // Collect the nav links, forms, and other content for toggling
    %div.collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'About', about_url
        %li.blog
          = link_to 'Blog', entries_url
        %li
          = link_to 'Contact', contact_url
        %li.designs
          = link_to 'Designs', designs_url